* {
    box-sizing: border-box;
}
html,
body,
#presentation {
    background: #461899;
    background: rgb(81, 30, 162);
    background: linear-gradient(0deg,
            rgba(81, 30, 162, 1) 0%,
            rgba(105, 40, 155, 1) 38%,
            rgba(81, 30, 162, 1) 100%);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1rem;
}
.preload { display: none;}
.palette {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}
.palette-box {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
}
.monster-text {
    position: absolute;
    left: 3%;
    bottom: 3%;
    z-index: 100;
    width: 700px;
}
.monster-details div {
    margin: 6px 0 6px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.18);
}



.taxonomy {
    font-size: 0.9rem;
    padding: 0 0 30px 0;
}
.taxonomy span {
    float: left;
    background: rgba(0, 0, 0, .0);
    height: 30px;
}
.taxonomy span.tier-text {
    padding: 4px 8px 4px 0;
}
.taxonomy span.tier1 {
    padding-left: 10px;
}
.taxonomy svg {
    float: left;
    height: 30px;
    margin: 0;
    padding: 0 !important;
}





.attacks {

}
.attacks img {
    padding: 0 3px 0 6px;
}
.name {
    clear: both;
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 2rem;
    line-height: normal;
}
sup {
    font-size: 1.1rem;
    vertical-align: 11px;
}
.lower-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, 0) 100%);
}
.centered {
    position: fixed;
    /* transform: scale(0.9); */
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform-origin: center top;
    zoom: .725;
    transform: translate(-50%, -50%);
}

.monster {
    /* border: 1px solid #ffffff55; */
    width: 1500px;
    margin: 0;
    padding: 0;
    cursor: none;
    overflow: none;
}
.monster-sprite {
    margin: 0 auto;
    height: 1200px;
    background: url('') left center no-repeat;
    animation: monster-keyframes 0.4s steps(3) infinite;
}
@keyframes monster-keyframes {
    100% {
        background-position: -4500px;
    }
}

.slider {
    position: absolute;
    z-index: 200;
	width: 300px;
}
.slider-wrapper {
    display: none;
	width: 300px;
}
